@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    @apply leading-[100%];
  }
  html {
    scroll-behavior: smooth;
  }
  button {
    @apply leading-[100%];
  }
  .container {
    @apply !max-w-screen-4xl;
  }
  .no_scroll_bar::-webkit-scrollbar {
    width: 0;
  }
  .scroll_bar {
    scrollbar-width: 3px;
    scrollbar-color: #c8c8be #c8c8be;
  }
  .scroll_bar::-webkit-scrollbar {
    width: 0;
  }
  .scroll_bar::-webkit-scrollbar {
    width: 7px;
    height: 10px;
  }
  .scroll_bar::-webkit-scrollbar-thumb {
    background-color: #c8c8be;
    border-radius: 20px;
  }

  body {
    @apply no_scroll_bar overflow-hidden bg-black font-primary;
  }
  .input_without_arrow::-webkit-outer-spin-button,
  .input_without_arrow::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .input_without_arrow[type='number'] {
    -moz-appearance: textfield;
  }
  .container-reset {
    @apply w-full !max-w-none p-0;
  }

  input[type='password'] {
    font-family: sans-serif;
  }

  .bg_blur_dark {
    background-color: rgba(1, 1, 1, 0.6);
    backdrop-filter: blur(10px);
  }

  .input_primary_style {
    @apply input_primary_text input_primary_bg input_primary_padding_x input_primary_height w-full rounded-[50px]   text-white placeholder:lowercase placeholder:text-white focus:outline-none;
  }

  .input_primary_bg {
    @apply bg-[#343899];
  }

  .input_primary_text {
    @apply text-[12px] md:text-[16px] xl:text-[25px];
  }

  .input_primary_height {
    @apply h-[34px] md:h-[54px] xl:h-[80px];
  }

  .input_primary_padding_x {
    @apply !px-[15px] md:!px-[25px] xl:!px-[40px];
  }

  .duration_show_section {
    @apply animate-duration-[2s];
  }

  .min_height_animate_sec {
    min-height: 30vh;
  }

}
